* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

.main {
  max-height: 700px;
}
.thanks {
  display: flex;
  height: 400px;
  width: 100%;
  margin: 0px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.smiley1,
.smiley2,
.smiley3 {
  width: 12.5rem;
  height: 12.5rem;
  line-height: 12.5rem;
  text-align: center;
  font-family: "courier new";
  font-weight: bold;
  font-size: 6.25rem;
  color: #424242;
  border-radius: 50%;
}

.smiley1 {
  background: rgb(204, 106, 36);
}
.smiley2 {
  background: rgb(160, 86, 34);
}

.smiley3 {
  background: rgb(248, 162, 100);
}

.thx {
  color: chocolate;
  text-align: center;
  font-family: "Coda Caption", sans-serif;
  font-size: 10em;
}
